*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

*.iml
.gradle
!/gradle/wrapper/gradle-wrapper.jar

local.properties
.idea/

.DS_Store
/build
/captures
/app/release
/app/.project
/app/.classpath
.externalNativeBuild

.project
.settings/

/svg

/release
